body{
    background: url('/images/galaxy.png') rgb(22,26,70) repeat-x;
}

.r1{
    height: 300px;
    position: absolute;
    top: 550px;
    left: 400px;
    transform: rotateZ(45deg);
}

.cody{
    height: 250px;
    position: absolute;
    top: 500px;
    left: -15%;
}


.conv1,
.conv3{
    position: absolute;
    height: 100px;
    width: 200px;
    top: 420px;
    left: 460px;
    opacity: 0;
}

.conv2,
.conv4{
    position: absolute;
    height: 100px;
    width: 200px;
    top: 540px;
    left: 760px;    
    opacity: 0;
}